@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}
/*------------------navbar-------------------*/
.navbar{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
}
.navbar a{
    font-size: 15px;
    color: #000;
    margin: 15px;
    
}
/*------------------banner-------------------*/
.mySlides {
    display: none
  }
 .fade img {
    vertical-align: middle;
    width: 100%;
  }
  .slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }

  /*---------------------browse by category-------------------*/

  .category{
    margin: 0% 7%;
  }
  .category h1{
      margin: 3%;
      font-size: 18px;

  }
  .category span{
      color: orangered;
  }
   .box1{
    border:1px solid rgba(0,0,0,.1);
    text-align: center;
    width: 100px;
    height: 250px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: 30px;
    margin-bottom: 30px;
  }
   .box1 img{
    height:9rem;
    width:13rem;
    border-radius:10px;
    border: .1px solid rgba(0, 0, 0, 0.1);
    object-fit: cover;
    margin: 20px;
  }
  .box1 h3{
    font-size: 18px;
    font-weight: 700;
  }
.swiper-button-next,
.swiper-button-prev{
    height:4rem;
    width:4rem;
    color:#000;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    color:#fff;
}
/*------------------------footer----------------------------*/
.footer{
    background:#333;
    text-align: center;
}

 .share{
    padding:1rem 0;
}

 .share a{
    height: 5rem;
    width: 4rem;
    line-height: 5rem;
    font-size:26px;
    color:#fff;
    border:1px solid #fff;
    margin:.3rem;
    border-radius: 50%;
}
 .share a:hover{
    background:#fff;
    color: #000;
}
.credit{
    font-size: 15px;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

/*----------------------media query--------------------------*/

@media (max-width:768px){
 .navbar a{
   font-size: 12px;
 }
  .share a{
        font-size: 20px;
        width: 2rem;
        height: 3.6rem;
        line-height: 3;
    }
  .credit{
        font-size: 12px;
    }


}
 /* On smaller screens, decrease text size */
 @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }